form#tagging_edit div label span {
    display: none;
}

ul.tagging_cloud li {
    display: inline;
}

ul.tagging_cloud li.t0 {
    font-size: 0.8em;
}

ul.tagging_cloud li.t1 {
    font-size: 0.9em;
}

ul.tagging_cloud li.t2 {
    font-size: 1.0em;
}

ul.tagging_cloud li.t3 {
    font-size: 1.1em;
}

ul.tagging_cloud li.t4 {
    font-size: 1.2em;
}

ul.tagging_cloud li.t5 {
    font-size: 1.3em;
}

ul.tagging_cloud li.t6 {
    font-size: 1.4em;
}

ul.tagging_cloud li.t7 {
    font-size: 1.5em;
}

ul.tagging_cloud li.t8 {
    font-size: 1.6em;
}

ul.tagging_cloud li.t9 {
    font-size: 1.7em;
}

ul.tagging_cloud li.t10 {
    font-size: 1.8em;
}
