form#tagging__edit input.edit {
    width: 95%;
}

ul.tagging_cloud {
    text-align: center;
    margin: 0;
    width: 95%;
    line-height: 2.2em;

    li {
        display: inline;
        list-style-type: none;
        margin: 0;
    }

     div.li {
        display: inline-block;
        margin: 0 0.5em;
    }

    li.t0 {
        font-size: 1em;
    }

    li.t1 {
        font-size: 1.1em;
    }

    li.t2 {
        font-size: 1.2em;
    }

    li.t3 {
        font-size: 1.3em;
    }

    li.t4 {
        font-size: 1.4em;
    }

    li.t5 {
        font-size: 1.5em;
    }

    li.t6 {
        font-size: 1.6em;
    }

    li.t7 {
        font-size: 1.7em;
    }

    li.t8 {
        font-size: 1.8em;
    }

    li.t9 {
        font-size: 1.9em;
    }

    li.t10 {
        font-size: 2em;
    }
}

button.plugin_tagging.sort_button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #2b73b7;
    
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        outline:0;
    }
    
    svg {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
    }
}

/*! X-editable - v1.5.3 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2015 Vitaliy Potapov; Licensed MIT */
.editableform {
    margin-bottom: 0; /* overwrites bootstrap margin */
}

.editableform .control-group {
    margin-bottom: 0; /* overwrites bootstrap margin */
    white-space: nowrap; /* prevent wrapping buttons on new line */
    line-height: 20px; /* overwriting bootstrap line-height. See #133 */
}

.editable-buttons {
   display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
   vertical-align: top;
   margin-left: 7px;
   /* inline-block emulation for IE7*/
   zoom: 1; 
   *display: inline;
}

.editable-input {
    vertical-align: top; 
    display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
    width: auto; /* bootstrap-responsive has width: 100% that breakes layout */
    white-space: normal; /* reset white-space decalred in parent*/
   /* display-inline emulation for IE7*/
   zoom: 1; 
   *display: inline;   
}

.editable-buttons .editable-cancel {
   margin-left: 7px; 
}

/*for jquery-ui buttons need set height to look more pretty*/
.editable-buttons button.ui-button-icon-only {
   height: 24px; 
   width: 30px;
}

.editableform-loading {
    background: url('images/loading.gif') center center no-repeat;  
    height: 25px;
    width: auto; 
    min-width: 25px; 
}

 .editable-error-block {
    max-width: 300px;
    margin: 5px 0 0 0;
    width: auto;
    white-space: normal;
}

/*add padding for jquery ui*/
.editable-error-block.ui-state-error {
    padding: 3px;  
}  

.editable-error {
   color: red;  
}

/* ---- For specific types ---- */

/* IOS-style clear button for text inputs */
.editable-clear-x {
   background: url('images/clear.png') center center no-repeat;
   display: block;
   width: 13px;    
   height: 13px;
   position: absolute;
   opacity: 0.6;
   z-index: 100;
   
   top: 50%;
   right: 6px;
   margin-top: -6px;
   
}

.editable-clear-x:hover {
   opacity: 1;
}
