form#tagging__edit div label span {
    display: none;
}

form#tagging__edit input.edit {
    width: 95%;
}

ul.tagging_cloud {
    text-align: center;
    margin: 0;
    width: 95%;
    line-height: 2.2em;
}

ul.tagging_cloud li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.tagging_cloud div.li {
    display: inline-block;
    margin: 0 0.5em;
}

ul.tagging_cloud li.t0 {
    font-size: 1em;
}

ul.tagging_cloud li.t1 {
    font-size: 1.1em;
}

ul.tagging_cloud li.t2 {
    font-size: 1.2em;
}

ul.tagging_cloud li.t3 {
    font-size: 1.3em;
}

ul.tagging_cloud li.t4 {
    font-size: 1.4em;
}

ul.tagging_cloud li.t5 {
    font-size: 1.5em;
}

ul.tagging_cloud li.t6 {
    font-size: 1.6em;
}

ul.tagging_cloud li.t7 {
    font-size: 1.7em;
}

ul.tagging_cloud li.t8 {
    font-size: 1.8em;
}

ul.tagging_cloud li.t9 {
    font-size: 1.9em;
}

ul.tagging_cloud li.t10 {
    font-size: 2em;
}
